
/* typography */
a, a:hover, a:visited {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code {
    font-family: monospace;
    background-color: silver;
}

/* special designs */

#brand {
    font-size: 300%;
}

#brand a {
    color: silver;
    font-weight: lighter;
}

#menu {
    font-size: 150%;
    text-align: right;
    vertical-align: text-bottom;
}

#menu a {
    font-weight: lighter;
}

footer {
    clear: both;
    color: silver;
}

.text-muted {
    color: silver;
}

/* fixes */
h1, h2, h3 {
    clear: both;
}