
.yt-link,
.yt-embed {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
  height: 0;
  margin-bottom: 2em;
  overflow: hidden;
}

.yt-link img,
.yt-embed img {
  position: absolute;
	top: -16%;
	left: 0;
	width: 100%;
  height: 132%;
}

.yt-embed iframe {
  position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
  height: 100%;
}

.yt-link .yt-play,
.yt-embed .yt-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);  
}

.yt-link .yt-watch,
.yt-embed .yt-watch {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(0%, -100%);
  -ms-transform: translate(-0%, -100%);  
  padding: 2px;
  background-color: #555;
  color: white;
  opacity: 0.9;
}

.yt-embed .yt-legal {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);  
  padding: 2px;
  background-color: #555;
  color: white;
  font-size: 12px;
  opacity: 0.9;
}

.yt-legal a {
  color: white;
}

.yt-link .yt-play,
.yt-embed .yt-play {
  background-color: #555;
  color: white;
  font-size: 24px;
  width: 75px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 0.4em;
}

.yt-link:hover .yt-play,
.yt-embed .yt-play:hover {
  background-color: red;
  color: white;
}