
/* Basic Style */

@font-face {
    font-family: 'DejaVuSansExtraLight';
    src: url('dejavusans-extralight-webfont.eot');
    src: url('dejavusans-extralight-webfont.eot?iefix') format('eot'),
         url('dejavusans-extralight-webfont.woff') format('woff'),
         url('dejavusans-extralight-webfont.ttf') format('truetype'),
         url('dejavusans-extralight-webfont.svg#webfontPjSsTf0y') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DejaVuSansExtraLight', sans-serif;
    width: 640px;
    margin: 0 auto;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #ff5f0d;
}

h1, h2, h3, h4 {
    text-align: left;
}

img {
    border-width: 0;
}

pre {
    background-color: silver;
    margin: 10px;
    padding: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    overflow-x: auto;
}

/* Basic Layout */

header {
    height: 100px; 
    clear: both;    
}

#site_title {
    float: left;
}

#social {
    clear: both;
    text-align: right;
}

nav {
    float: right;
    margin: 25px 0;
}

nav a {
    font-weight: normal;
    font-size: 175%;
}

article {
    text-align: justify;
    clear: both;
}

article img {
    margin: 5px;
    max-width: 640px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid silver;
    text-align: center;
    font-size: 75%;
    color: gray;
	clear: both;
}

/* Post Special Formating */

.post_date {
    width: 45px;
    padding: 3px 15px;
    margin: 5px;
    text-align: center;
    background: silver;
    font-weight: bold;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.post_tags {
    clear: both;
    text-align: right;
    margin: 0;
}

.social_buttons {
    text-align: right;
}
