<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/fonts.css"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/yt-consent.css">
    <link rel="stylesheet" href="/css/rioki.css">  
  </head>
  <body> 
    <div class="container">
      <nav class="row">      
        <div id="brand" class="one-half column"><a href="/">{{ site.title }}</a></div>
        <div id="menu" class="one-half column">
          <a href="/journal.html">Journal</a>
          <a href="/projects.html">Projects</a>
        </div>        
      </nav>
      <article>
        {% block content %}{% endblock %}
      </article>      
      <footer>
        <p>&copy;2009 - 2021 Sean "rioki" Farrell</p>
        <p><a href="/imprint.html">Imprint</a></p>
        <p>This page does not use cookies, nor does it store any data.</p>
      </footer>    
    </div> 
    <script src="/js/yt-consent.js"></script>  
    <script>
      ytConsent();
    </script>
  </body>
</html>
