<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
    <link href="/css/rioki.css" rel="stylesheet">    
  </head>
  <body> 
    <div class="container">
      <nav class="row">      
        <div id="brand" class="one-half column"><a href="/">{{ site.title }}</a></div>
        <div id="menu" class="one-half column">
          <a href="/journal.html">Journal</a>
          <a href="/projects.html">Projects</a>
        </div>        
      </nav>
      <article>
        {% block content %}{% endblock %}
      </article>      
      <footer>
        &copy;2009 - 2019 Sean "rioki" Farrell | <a href="/imprint.html">Imprint</a> | 
        This blog is the personal opinion of Sean "rioki" Farrell and does not constitute an opinion or position by my employer.
      </footer>    
    </div> 

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3244789-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>    
  </body>
</html>
