{% set page.title = "Home" %}
{% extends 'default.html' %}
{% block content %}
{% for post in site.posts %}
  {% if loop.index < 4 %}
    <h2>{{post.title}}</h2>
    <p class="pull-right">
      {% for tag in post.tags %}
        <a href="/tag/{{tag}}.html">{{tag}}</a>
      {% endfor %}
    </p>
    <p class="text-muted">{{ post.date|date('Y-m-d') }}</p>
    <p>
        {{ post.summary|safe }}        
    </p>    
    <p class="pull-right">
      <a href="{{ post.url }}">read more</a>    
    </p>
    <div class="clearfix"></div>  
  {% endif %}      
{% endfor %}
{% endblock %}