{% extends 'default.html' %}
{% block content %}
{% if page.prevPage %}
<a href="/{{ page.prevPage }}" class="u-pull-left">Newer Posts</a>
{% endif %}
{% if page.nextPage %}
<a href="/{{ page.nextPage }}" class="u-pull-right">Older Posts</a>
{% endif %}
<div class="clearfix"></div>
{% for post in page.posts %}
  <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
  <p class="text-muted u-pull-rightt">{{ post.date|date('Y-m-d') }}</p>
  <p class="clear">&nbsp;</p>
  <p>
      {{ post.summary }}
  </p>
  <p class="pull-right">
    <a href="{{ post.url }}" class="btn btn-primary">read more</a>
  </p>
  <div class="clearfix"></div>
{% endfor %}
{% if page.prevPage %}
<a href="/{{ page.prevPage }}" class="u-pull-left">Newer Posts</a>
{% endif %}
{% if page.nextPage %}
<a href="/{{ page.nextPage }}" class="u-pull-right">Older Posts</a>
{% endif %}
<div class="clearfix"></div>
{% endblock %}
