{% set page.title = "Journal" %}
{% set page.nav = "journal" %}
{% extends 'default.html' %}
{% block content %}
<article>
{% if page.prevPage %}
<a href="/{{ page.prevPage }}" class="btn btn-default pull-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Newer Posts</a>    
{% endif %}
{% if page.nextPage %}
<a href="/{{ page.nextPage }}" class="btn btn-default pull-right">Older Posts <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>    
{% endif %}
<div class="clearfix"></div>
{% for post in page.posts %}
  <h2>{{post.title}}</h2>
  <p class="pull-right">
    {% for tag in post.tags %}
      <a href="/tag/{{tag}}.html">{{tag}}</a>
    {% endfor %}
  </p>
  <p class="text-muted">{{ post.date|date('Y-m-d') }}</p>
  <p>
      {{ post.summary|safe }}        
  </p>    
  <p class="pull-right">
    <a href="{{ post.url }}" class="btn btn-primary">read more</a>    
  </p>
  <div class="clearfix"></div>
{% endfor %}
{% if page.prevPage %}
<a href="/{{ page.prevPage }}" class="btn btn-default pull-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Newer Posts</a>    
{% endif %}
{% if page.nextPage %}
<a href="/{{ page.nextPage }}" class="btn btn-default pull-right">Older Posts <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>    
{% endif %}
<div class="clearfix"></div>
<article>
{% endblock %}