{% extends 'default.html' %}
{% block content %}
<div class="max-w-4xl mx-auto my-10 flex">
  {% if page.prevPage %}
  <a href="/{{ page.prevPage }}" class="text-orange-500 underline">Newer Posts</a>
  {% endif %}
  <span class="grow"></span>
  {% if page.nextPage %}
  <a href="/{{ page.nextPage }}" class="text-orange-500 underline">Older Posts</a>
  {% endif %}
</div>
<div class="clearfix"></div>
{% for post in page.posts %}
  <section class="max-w-4xl mx-auto my-10">
  <h2 class="text-3xl">{{post.title}}</h2>
  <p class="float-right text-orange-500">{{ post.date|date('Y-m-d') }}</p>
  <p class="float-none">&nbsp;</p>
  <div class="prose max-w-none prose-pre:bg-gray-100 prose-pre:text-gray-800  prose-a:text-orange-500 text-justify">
      {{ post.summary }}
  </div>
  <p class="text-right">
    <a href="{{ post.url }}" class="text-orange-500 underline">read more</a>
  </p>
  <div class="float-none"></div>
  </section>
{% endfor %}
<div class="max-w-4xl mx-auto my-10 flex">
  {% if page.prevPage %}
  <a href="/{{ page.prevPage }}" class="text-orange-500 underline">Newer Posts</a>
  {% endif %}
  <span class="grow"></span>
  {% if page.nextPage %}
  <a href="/{{ page.nextPage }}" class="text-orange-500 underline">Older Posts</a>
  {% endif %}
</div>
{% endblock %}
