{% set page.nav = "journal" %}
{% extends 'default.html' %}
{% block content %}
<article>
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}
      <h2>{{post.title}}</h2>
      <p class="pull-right">
        {% for tag in post.tags %}
          <a href="/tag/{{tag}}.html">{{tag}}</a>
        {% endfor %}
      </p>
      <p class="text-muted">{{ post.date|date('Y-m-d') }}</p>
      <p>
          {{ post.summary|safe }}        
      </p>    
      <p class="pull-right">
        <a href="{{ post.url }}" class="btn btn-primary">read more</a>    
      </p>
      <div class="clearfix"></div>  
    {% endif %}
  {% endfor %}
{% endfor %}
</article>
{% endblock %}