<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="author" content="{{ site.author }}" />
        <link rel="stylesheet" href="/design/screen.css" />
        <link rel="alternate" type="application/atom+xml" title="Rioki's Corner Feed" href="/atom.xml" />
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3244789-10']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>        
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div id="site_title"><a href="/"><img src="/design/rioki.png" alt="Rioki" /></a></div>
                <div id="topmenu">
                    <a href="/journal.html">Journal</a>
                    <a href="/about.html">About</a>
                </div>
            </div>
            <div id="content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            <div id="footer">
                &copy; 2009-2011 {{ site.author }} | 
                <a href="/imprint.html">Imprint</a>
            </div>
        </div>
    </body>
</html>
